---
import Layout from "../layouts/Layout.astro";
---

<Layout>
	<body>
		<h1>Daniel Reis</h1>
		<h3>A passionate Developer!</h3>
		<hr>
		<p>I'm a passionate developer since my 10 years old, actually with 16 years old!</p>
		<p>Making SaaS and trying to improve my general abilities with some tech experience. Who is more related in my blog. Give a chance to read my blog!</p>
		<h4>Blog built with Astro</h4>
		<p>Styles: Minimalist</p>
	</body>
</Layout>
