---
import '../styles/global.scss';
---

<footer>
	<p>©danielscoffee 2024</p>
	<div class="footer_links">
		<a href="https://dev.to/devdaaniel">dev.to</a>
		<a href="https://github.com/danielscoffee">GitHub</a>
	</div>
</footer>
