---
import Header from "../components/Header.astro"
import Footer from "../components/Footer.astro"
import Seo from "../components/Seo.astro"

import { SITENAME } from "../consts"
import '../styles/global.scss'
---

<html lang="en">
	<head>
		<Seo description="A blog-portfolio, with my projects and experience. I gonna tell about tech and stuffs"/>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>{ SITENAME }</title>
	</head>
	<body>
		<Header />
		<slot />
		<Footer />
	</body>
</html>
